name: Daily News Push

on:
  schedule:
    - cron: '30 0 * * *' # 北京时间 8:30
  workflow_dispatch:

jobs:
  run-news-bot:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: Run script
        env:
          # 左边是 Python 代码里读取的变量名
          # 右边是 GitHub Secrets 里的名字
          API_KEY: ${{ secrets.API_KEY }}
          SENDER_EMAIL: ${{ secrets.SENDER_EMAIL }}
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
          RECEIVER_EMAIL: ${{ secrets.RECEIVER_EMAIL }}
        run: python main.py
